<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 p-5 form-container">
      <form [formGroup]="UserForm" novalidate (ngSubmit)="UpdateUser(UserForm)">
        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example3cg">
            Name
          </label>
          <input type="text" class="form-control form-control-lg" formControlName="name" />
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example3cg">
            Email
          </label>
          <input type="text" class="form-control form-control-lg" formControlName="email" />
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example3cg">
            Role
          </label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="role">
            <option>
              User
            </option>
            <option>
              Admin
            </option>
          </select>
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example3cg">
            Password
          </label>
          <input type="text" class="form-control form-control-lg" formControlName="password" />
        </div>
        <div class="pt-3">
          <button type="submit" class="btn btn-primary btn-lg">
            Done
          </button>
          <button class="btn btn-danger btn-lg">
            Cancle
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
