<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-3">
      <form [formGroup]="SearchForm" novalidate (ngSubmit)="GetRequestValue(SearchForm)">
        <mat-form-field>
          <mat-label>
            Type
          </mat-label>
          <mat-select formControlName="type">
            <mat-option value="search">
              Search
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Query
          </mat-label>
          <input matInput type="text" formControlName="query">
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Country
          </mat-label>
          <mat-select formControlName="country">
            <mat-option value="us">
              us
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Locale
          </mat-label>
          <mat-select formControlName="locale">
            <mat-option value="us">
              un
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle formControlName="autocorrect">
          Autocorrect
        </mat-slide-toggle>
        <mat-form-field>
          <mat-label>
            Page
          </mat-label>
          <input matInput type="number" formControlName="page">
        </mat-form-field>
        <button mat-button type="submit" class="btn btn-primary btn-lg w-100" [disabled]="SearchForm.invalid">
          Sign Up
        </button>
      </form>
    </div>
    <div class="form-container search-container col-lg-6 col-md-6 col-sm-6 col-xs-6 p-3">
      <div *ngFor="let Organic of Organics">
        <div class="search-item">
          <p>
            Title:
          </p>
          <p>
            {{ Organic.title }}
          </p>
        </div>
        <div class="search-item">
          <p>
            Link:
          </p>
          <p>
            {{ Organic.link }}
          </p>
        </div>
        <div class="search-item">
          <p>
            Position:
          </p>
          <p>
            {{ Organic.position }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>