.search-container {
    overflow: auto;

    .search-item-info {
        display: flex;
        flex-direction: column;
        background-color: #0d0e14;
        padding: 0% 2%;

        p {
            margin-top: 2%;
        }
    }

    .search-item {
        display: flex;
        justify-content: space-between;
        padding: 0% 2%;
        margin-top: 2%;
        background-color: #0d0e14;
    }
}