<div class="col-lg-12 navigation-container">
    <nav>
        <ul>
            <li>
                <a routerLink="account">
                    Account
                </a>
            </li>
            <li>
                <a routerLink="send-reqest">
                    Send Reqests
                </a>
            </li>
            <li>
                <a routerLink="user-reqest-list">
                    Reqests
                </a>
            </li>
            <li>
                <a routerLink="admin-panel">
                    Admin Panel
                </a>
            </li>
        </ul>
    </nav>
</div>