<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex flex-column align-items-center">
      <div class="form-container-caption col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2 text-center">
        <h1>
          Create an account
        </h1>
        <p>
          Create a free account, no credit-card needed.
        </p>
      </div>
      <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12 form-container">
        <form [formGroup]="SignUpForm" novalidate (ngSubmit)="SignUp(SignUpForm)" id="aunteficationForm">
          <div class="form-outline mb-4">
            <label>
              Email
            </label>
            <mat-form-field>
              <input matInput placeholder="pat@example.com" required formControlName="email">
            </mat-form-field>
            <ng-template [ngIf]="SignUpForm.controls['email'].invalid &&
              (SignUpForm.controls['email'].dirty || SignUpForm.controls['email'].touched)">
              <mat-error>
                {{GetEmailErrors()}}
              </mat-error>
            </ng-template>
          </div>
          <div class="form-outline mb-4">
            <label>
              Password
            </label>
            <mat-form-field>
              <input matInput [type]="Hide ? 'password' : 'text'" formControlName="password">
              <button mat-icon-button matSuffix (click)="Hide = !Hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="Hide" type="button">
                <mat-icon>
                  {{Hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
              </button>
            </mat-form-field>
            <ng-template [ngIf]="
              SignUpForm.controls['password'].invalid &&
              (SignUpForm.controls['password'].dirty || SignUpForm.controls['password'].touched)
            ">
              <mat-error>
                {{GetPasswordErrors()}}
              </mat-error>
            </ng-template>
          </div>
          <button mat-button type="submit" class="btn btn-primary btn-lg w-100" [disabled]="SignUpForm.invalid">
            Sign Up
          </button>
        </form>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 d-flex justify-content-between">
          <p>
            Already have an account?
          </p>
          <a href="auntification/signin">
            Sign In
          </a>
        </div>
      </div>
    </div>
  </div>
</div>